body {
    
    background-color: black;
}
#customer_data{

    margin: 6% 1% 1% 1%;
    align-items: center;
    display: inline-block;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    border: solid;
    border-color: orange;
    border-radius:11%;
    width:22%;
    background-color: black;
    color: white;
 
  
}

#customer_data1{

    margin: 7% 1% 1% 32%;
    align-items: center;
    display: inline-block;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    border: solid;
    border-color: orange;
    border-radius:11%;
    width:40%;
    background-color: black;
    color: white;
 
  
}

#f_name{
    text-align: center;
    color: white;
}

#msisdn{
    text-align: center;
    color: white;
}

#email{
    text-align: center;
    color: white;
}

#address{
    text-align: center;
    color: white;
}

#start_date{
    text-align: center;
    color: white;
}

#end_date{
    text-align: center;
    color: white;
}

#free_voice_same,#services,#oservice
{
     text-align: center;
    color: white;
}

#free_voice_diff,#free_sms_same,#free_sms_diff,#free_internet,#pfees,#pname,#renew{
     text-align: center;
    color: white;
}

#productpic{
    width:54%;
    height:25%;
    align-self: center;
    margin-right: 54%;
    margin-left: 24%;
}

a {
     margin-left: 20%;
}

.search-box{
    
    border-radius: 6%;
    margin-left: 40%;
    margin-top: 10%;
}

#submitAddCustomer{
    
    margin-left: 40%;
    margin-top: 6%;
    margin-right: 44%;
}