body
{
    margin: 0px;
    padding: 0px;
    height: 100vh;
}
/*Header*/
header
{
    height: auto;
    background-color: black;
}
header .firstRowHeader
{
    min-height: 30px;
}
header .secondRowHeader
{
    min-height: 70px;
}
.orange
{
    height: 50px;
    width: 50px;
}
.secondRowHeader .collapse .nav-item .nav-link:hover
{
    color: #FF7900;
}
.navbar-dark .navbar-toggler
{
    margin-right: 10%;
}
/*Header*/
/*Login*/
.login
{
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    height: 450px;
    width: 350px;
    border: 3px outset #FF7900;
    border-radius: 25px;
    background-color: rgb(0, 0, 0);
}
.login .loginTitle
{
    display: block;
    width: 100%;
    height: 140px;
    color: #FF7900;
    text-align: center;
    line-height: 140px;
    text-decoration: underline;
    font-family: serif;
    font-size: 50px;
}
.login .userName
{
    height: 70px;
    margin-bottom: 10px;
}
.login .userName span
{
    display: grid;
    color: #FF7900;
    margin-left: 10px;
    font-family: monospace;
    font-size: 20px;
    text-emphasis: 20px;
}
.login .userName input[type="text"]
{
    margin-left: 95px;
    margin-top: 5px;
    border-radius: 10px;
    padding-left: 5px;
    border-color: chocolate;
}
.login .password
{
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.login .password span
{
    display: grid;
    color: #FF7900;    
    margin-left: 10px;
    font-family: monospace;
    font-size: 20px;
    text-emphasis: 20px;
}
.login .password input[type="password"]
{
    margin-left: 95px;
    margin-top: 5px;
    border-radius: 10px;
    padding-left: 5px;
    border-color: chocolate;
}
.login .submit
{
    height: 50px;
    margin-top: 30px;
}
.login .submit .sub
{
    display: grid;
    height: 50px;
    width: 150px;
    margin: auto;
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    border-color: chocolate;
    background-color: white;
    color: black;
    border-radius: 15px;
}
.login .submit .sub:hover
{
    background-color: #FF7900;
    border-color: white;
    color: white;
    border-radius: 15px;
}
/*Login*/
/*Service*/
.fullSize
{
    height: 570px;
}
.fullSize .addService
{
    display: inline-block;
    height: 450px;
    width: 350px;
    margin-top: 50px;
    border: 3px outset #FF7900;
    border-radius: 25px;
    background-color: rgb(0, 0, 0);    
}
.fullSize .addService .addSeriveTitle
{
    height: 130px;
    display: block;
    text-align: center;
    line-height: 150px;
    font-size: 50px;
    font-family: monospace;
    font-variant-caps: all-petite-caps;
    color: #FF7900;
}
.fullSize .addService .addServiceInput span
{
    display: grid;
    color: #FF7900;    
    margin-left: 10px;
    font-family: monospace;
    font-size: 20px;
    text-emphasis: 20px;    
}
.fullSize .addService .addServiceInput input[type="text"]
{
    width: 220px;
    margin-left: 65px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    padding-left: 5px;
    border-color: chocolate;    
}
.fullSize .addService .addServiceInput select
{
    display: inline-block;
    margin-left: 8.5%;
    margin-top: 4%; 
    border-radius: 25px;
    color: #FF7900;
    background-color: black;
}
.fullSize .addService .addServiceInput select:hover
{
    cursor: pointer;
}
.fullSize .addService .addServiceInput label
{
    color: #FF7900;    
    margin-left: 10px;
    margin-top: 4%; 
    font-family: monospace;
    font-size: 20px;
    text-emphasis: 20px;       
}
.fullSize .addService .addServiceInput input[type="number"]
{
    display: inline-block;
    margin-top: 4%;
    padding-left: 50px;
    width: 35%;
    margin-left: 5px;
    color: #FF7900;
    background-color: black;
    border-radius: 25px;
}
.fullSize .addService .addServiceInput h6
{
    color: #FF7900;
    display: inline;
}
.fullSize .addService .addServiceSubmit
{
    height: 50px;
    margin-top: 20px;
}
.fullSize .addService .addServiceSubmit .sub
{
    display: grid;
    height: 50px;
    width: 150px;
    margin: auto;
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    border-color: chocolate;
    background-color: white;
    color: black;
    border-radius: 15px;
}
.fullSize .addService .addServiceSubmit .sub:hover
{
    background-color: #FF7900;
    border-color: white;
    color: white;
    border-radius: 15px;
}
.fullSize .showAllServices
{
    width: 70%;
    margin-top: 50px;
    margin-right: 4%;
    height: 500px;
    float: right;
}
/*Service*/
/**Profile*/
.fullAreaProfile
{
    height: 570px;
}
.fullAreaProfile .firstPageProfile
{
    height: 500px;
    width: 50%;
    display: flexbox;
    margin: auto;
    position: relative;
    top: 7%;
    border: 3px outset #FF7900;
    border-radius: 25px;
    background-color: rgb(0, 0, 0);   
}
.fullAreaProfile .firstPageProfile .firstProfilePageTitle
{
    margin-top: 5%;
    height: auto;
    text-align: center;
    text-indent: 10px;
    font-size: 40px;
    font-family: monospace;
    color: #FF7900;
}
.fullAreaProfile .firstPageProfile .firstProfilePageName
{
    display: inline-block;
    margin-top: 2%;
    margin-left: 5%;    
}
.fullAreaProfile .firstPageProfile .firstProfilePageName span
{
    display: grid;
    color: #FF7900;    
    margin-left: 10px;
    font-family: monospace;
    font-size: 20px;
    text-emphasis: 20px;    
}
.fullAreaProfile .firstPageProfile .firstProfilePageName input[type="text"]
{
    width: 220px;
    margin-left: 65px;
    margin-top: 15px;
    border-radius: 10px;
    padding-left: 5px;
    border-color: chocolate;    
}
.fullAreaProfile .firstPageProfile .firstProfilePageFees
{
    display: inline-block;
    margin-top: 2%;
    margin-left: 5%;
}
.fullAreaProfile .firstPageProfile .firstProfilePageFees span
{
    display: grid;
    color: #FF7900;    
    margin-left: 10px;
    font-family: monospace;
    font-size: 20px;
    text-emphasis: 20px;    
}
.fullAreaProfile .firstPageProfile .firstProfilePageFees input[type="number"]
{
    width: 220px;
    margin-left: 65px;
    margin-top: 15px;
    border-radius: 10px;
    padding-left: 5px;
    text-align: center;
    color: black; 
    border-color: chocolate;    
}
.fullAreaProfile .firstPageProfile .firstProfilePageFees label
{
    color: #FF7900;    
    margin-left: 5px;   
}
.fullAreaProfile .firstPageProfile .addFirstPageProfileSubmit
{
    float: right;
    position: absolute;
    bottom: 5%;
    right: 5%;
}
.fullAreaProfile .firstPageProfile .addFirstPageProfileSubmit .sub
{
    display: grid;
    height: 50px;
    width: 150px;
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    border-color: chocolate;
    background-color: white;
    color: black;
    border-radius: 15px;
}
.fullAreaProfile .firstPageProfile .addFirstPageProfileSubmit .sub:hover
{
    background-color: #FF7900;
    border-color: white;
    color: white;
    border-radius: 15px;
}
.fullAreaProfile .secondPageProfile
{
    height: 500px;
    width: 50%;
    display: none;
    margin: auto;
    position: relative;
    top: 7%;
    border: 3px outset #FF7900;
    border-radius: 25px;
    background-color: rgb(0, 0, 0)
}
.fullAreaProfile .secondPageProfile .secondProfilePageTitle
{
    margin-top: 5%;
    height: auto;
    text-align: center;
    text-indent: 10px;
    font-size: 40px;
    font-family: monospace;
    color: #FF7900;    
}
.fullAreaProfile .secondPageProfile .secondProfilePageName span
{
    display: grid;
    color: #FF7900;    
    margin-left: 10px;
    font-family: monospace;
    font-size: 20px;
    text-emphasis: 20px;    
}
.fullAreaProfile .secondPageProfile .secondProfilePageName .secondPageProfileSelectService
{
    width: 120px;
    margin-left: 65px;
    margin-top: 15px;
    border-radius: 10px;
    padding-left: 5px;
    border-color: chocolate;
}
.fullAreaProfile .secondPageProfile .secondProfilePageName input[type="button"]
{
    width: 120px;
    margin-left: 65px;
    margin-top: 15px;
    border-radius: 10px;
    padding-left: 5px;
    border-color: chocolate;    
}
.fullAreaProfile .secondPageProfile .allSelectedServices
{
    height: auto;
}
.fullAreaProfile .secondPageProfile .allSelectedServices section
{
    border-top: 1px solid #FF7900;
    border-bottom: 1px solid #FF7900;
    margin-top: 10px;
}
.fullAreaProfile .secondPageProfile .allSelectedServices section span
{
    display: grid;
    color: white;    
    margin-left: 10px;
    font-family: monospace;
    font-size: 20px;
    text-emphasis: 20px;   
}
.fullAreaProfile .secondPageProfile .allSelectedServices section label
{
    color: #FF7900;
    font-size: 15px;
    margin-left: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.fullAreaProfile .secondPageProfile .allSelectedServices section input[type="number"]
{
    width: 100px;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 10px;
    padding-left: 5px;
    text-align: center;
    color: black; 
    border-color: chocolate;    
}
.fullAreaProfile .secondPageProfile .allSelectedServices section h6
{
    display: inline;
    color: #FF7900; 
    margin-right: 15px;
    margin-left: 5px;
}
.fullAreaProfile .secondPageProfile .addSecondPageProfileSubmit
{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}
.fullAreaProfile .secondPageProfile .addSecondPageProfileSubmit .sub
{
    display: grid;
    height: 50px;
    width: 150px;
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    border-color: chocolate;
    background-color: white;
    color: black;
    border-radius: 15px;
}
.fullAreaProfile .secondPageProfile .addSecondPageProfileSubmit .sub:hover
{
    background-color: #FF7900;
    border-color: white;
    color: white;
    border-radius: 15px;
}
.fullAreaProfile .thirdPageProfile
{
    height: 500px;
    width: 50%;
    display: none;
    margin: auto;
    position: relative;
    top: 7%;
    border: 3px outset #FF7900;
    border-radius: 25px;
    background-color: rgb(0, 0, 0)
}
.fullAreaProfile .thirdPageProfile .thirdPageProfilePageTitle
{
    margin-top: 5%;
    height: auto;
    text-align: center;
    text-indent: 3px;
    font-size: 30px;
    font-family: monospace;
    color: #FF7900;
}
.fullAreaProfile .thirdPageProfile .thirdProfilePageFreeUnits
{
    display: block;
    margin-top: 2%;
    margin-left: 10%;
}
.fullAreaProfile .thirdPageProfile .thirdProfilePageFreeUnits span
{
    color: #FF7900;    
    margin-left: 10px;
    font-family: monospace;
    font-size: 20px;
    text-emphasis: 20px;    
}
.fullAreaProfile .thirdPageProfile .thirdProfilePageFreeUnits input[type="number"]
{
    width: 120px;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 10px;
    padding-left: 5px;
    text-align: center;
    color: black; 
    border-color: chocolate;    
}
.fullAreaProfile .thirdPageProfile .thirdProfilePageFreeUnits label
{
    color: #FF7900;    
    margin-left: 5px;   
}
.fullAreaProfile .thirdPageProfile .addthirdPageProfileSubmit
{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}
.fullAreaProfile .thirdPageProfile .addthirdPageProfileSubmit .sub
{
    display: grid;
    height: 50px;
    width: 150px;
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    border-color: chocolate;
    background-color: white;
    color: black;
    border-radius: 15px;
}
.fullAreaProfile .thirdPageProfile .addthirdPageProfileSubmit .sub:hover
{
    background-color: #FF7900;
    border-color: white;
    color: white;
    border-radius: 15px;
}
/**Profile*/
/*Footer*/
.footerOrange
{
    background-color: black;
    line-height: 77px;
}
.footerOrange p
{
    color: #FF7900;
    padding: 0px;
    margin: 0px;
}
/*Footer*/