<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginCheck</servlet-name>
        <servlet-class>CheckServlets.loginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Services</servlet-name>
        <servlet-class>Add_Functions.Add_Services</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Profile</servlet-name>
        <servlet-class>Add_Functions.Add_Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Services_To_Profile</servlet-name>
        <servlet-class>Add_Functions.Add_Services_To_Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Free_Units</servlet-name>
        <servlet-class>Add_Functions.Add_Free_Units</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>UploadServlet.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginCheck</servlet-name>
        <url-pattern>/loginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Services</servlet-name>
        <url-pattern>/Add_Services</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Profile</servlet-name>
        <url-pattern>/Add_Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Services_To_Profile</servlet-name>
        <url-pattern>/Add_Services_To_Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Free_Units</servlet-name>
        <url-pattern>/Add_Free_Units</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
